// COLORS

$blue-100 : #172951;
$blue-80: #006EE9;
$blue-60: #08B3F5;
$blue-40: #10E0FF;
$blue-20: #A1EBF7;
$blue-5: #EFF9FB;

$gray-100: #070d1a;
$gray-80: #5C5C5C;
$gray-60: #858585;
$gray-40: #ADADAD;
$gray-20: #D6D6D6;
$gray-0: #FFFFFF;

$yellow-100: #FF9900;
$yellow-80: #FFB800;
$yellow-60: #FFCD00;
$yellow-40: #FFEF00;



$red-80 : rgba(255, 0, 0, 0.808);


// BRAND VARIABLES

$primary-color : $blue-80;
$complementary-color:$yellow-100;
$danger : $red-80;